In [11]:
import pandas as pd

# Lee el archivo CSV y lo guarda en un DataFrame
df = pd.read_csv('credits.csv')

# Muestra las primeras filas del DataFrame
print(df.head())

                                                cast  \
0  [{'cast_id': 14, 'character': 'Woody (voice)',...
1  [{'cast_id': 1, 'character': 'Alan Parrish', '...
2  [{'cast_id': 2, 'character': 'Max Goldman', 'c...
3  [{'cast_id': 1, 'character': "Savannah 'Vannah...
4  [{'cast_id': 1, 'character': 'George Banks', '...

                                                crew     id
0  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...    862
1  [{'credit_id': '52fe44bfc3a36847f80a7cd1', 'de...   8844
2  [{'credit_id': '52fe466a9251416c75077a89', 'de...  15602
3  [{'credit_id': '52fe44779251416c91011acb', 'de...  31357
4  [{'credit_id': '52fe44959251416c75039ed7', 'de...  11862

In [12]:
import pandas as pd
import ast

# 1. Carga el CSV
df = pd.read_csv('credits.csv')

# 2. Convierte la columna cast a objetos (listas de dicts)
def parse_json_column(x):
    try:
        return ast.literal_eval(x)
    except:
        return []

df['cast'] = df['cast'].apply(parse_json_column)

# 3. Explota la lista de cast para que cada actor sea una fila
df_cast_exploded = df.explode('cast').reset_index(drop=True)

# 4. Convierte los diccionarios en columnas
df_cast_exploded = pd.concat(
    [df_cast_exploded.drop(columns=['cast']),
     df_cast_exploded['cast'].apply(pd.Series)],
    axis=1
)

# 5. Revisa las columnas generadas
print(df_cast_exploded.head(10))

                                                crew   id  cast_id  \
0  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  862     14.0
1  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  862     15.0
2  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  862     16.0
3  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  862     17.0
4  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  862     18.0
5  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  862     19.0
6  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  862     20.0
7  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  862     26.0
8  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  862     22.0
9  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  862     23.0

                 character                 credit_id  gender         id  \
0            Woody (voice)  52fe4284c3a36847f8024f95     2.0       31.0
1   Buzz Lightyear (voice)  52fe4284c3a36847f8024f99     2.0    12898.0
2  Mr. Potato Head (voice)  52fe4284c3a36847f8024f9d     2.0     7167.0
3       Slinky Dog (voice)  52fe4284c3a36847f8024fa1     2.0    12899.0
4              Rex (voice)  52fe4284c3a36847f8024fa5     2.0    12900.0
5             Hamm (voice)  52fe4284c3a36847f8024fa9     2.0     7907.0
6          Bo Peep (voice)  52fe4284c3a36847f8024fad     1.0     8873.0
7             Andy (voice)  52fe4284c3a36847f8024fc1     0.0  1116442.0
8              Sid (voice)  52fe4284c3a36847f8024fb1     2.0    12901.0
9       Mrs. Davis (voice)  52fe4284c3a36847f8024fb5     1.0    12133.0

                name  order                      profile_path   0
0          Tom Hanks    0.0  /pQFoyx7rp09CJTAb932F2g8Nlho.jpg NaN
1          Tim Allen    1.0  /uX2xVf6pMmPepxnvFWyBtjexzgY.jpg NaN
2        Don Rickles    2.0  /h5BcaDMPRVLHLDzbQavec4xfSdt.jpg NaN
3         Jim Varney    3.0  /eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg NaN
4      Wallace Shawn    4.0  /oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg NaN
5  John Ratzenberger    5.0  /yGechiKWL6TJDfVE2KPSJYqdMsY.jpg NaN
6        Annie Potts    6.0  /eryXT84RL41jHSJcMy4kS3u9y6w.jpg NaN
7        John Morris    7.0  /vYGyvK4LzeaUCoNSHtsuqJUY15M.jpg NaN
8    Erik von Detten    8.0  /twnF1ZaJ1FUNUuo6xLXwcxjayBE.jpg NaN
9     Laurie Metcalf    9.0  /unMMIT60eoBM2sN2nyR7EZ2BvvD.jpg NaN

In [16]:
import pandas as pd
import ast

# 1. Cargar el CSV
df = pd.read_csv('credits.csv')

# 2. Convertir la columna 'cast' de string a lista de diccionarios
def parse_json_column(x):
    try:
        return ast.literal_eval(x)
    except:
        return []

df['cast'] = df['cast'].apply(parse_json_column)

# 3. Explode para que cada diccionario (actor) tenga su propia fila
df_cast = df.explode('cast').reset_index(drop=True)

# 4. Expandir el diccionario en columnas
df_cast = pd.concat(
    [df_cast.drop(columns=['cast']),
     df_cast['cast'].apply(pd.Series)],
    axis=1
)

# Visualizar los primeros 5 resultados
print(df_cast.head())

                                                crew   id  cast_id  \
0  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  862     14.0
1  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  862     15.0
2  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  862     16.0
3  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  862     17.0
4  [{'credit_id': '52fe4284c3a36847f8024f49', 'de...  862     18.0

                 character                 credit_id  gender       id  \
0            Woody (voice)  52fe4284c3a36847f8024f95     2.0     31.0
1   Buzz Lightyear (voice)  52fe4284c3a36847f8024f99     2.0  12898.0
2  Mr. Potato Head (voice)  52fe4284c3a36847f8024f9d     2.0   7167.0
3       Slinky Dog (voice)  52fe4284c3a36847f8024fa1     2.0  12899.0
4              Rex (voice)  52fe4284c3a36847f8024fa5     2.0  12900.0

            name  order                      profile_path   0
0      Tom Hanks    0.0  /pQFoyx7rp09CJTAb932F2g8Nlho.jpg NaN
1      Tim Allen    1.0  /uX2xVf6pMmPepxnvFWyBtjexzgY.jpg NaN
2    Don Rickles    2.0  /h5BcaDMPRVLHLDzbQavec4xfSdt.jpg NaN
3     Jim Varney    3.0  /eIo2jVVXYgjDtaHoF19Ll9vtW7h.jpg NaN
4  Wallace Shawn    4.0  /oGE6JqPP2xH4tNORKNqxbNPYi7u.jpg NaN

In [20]:
import pandas as pd
import ast

# Cargar el CSV
df = pd.read_csv('credits.csv')

# Función para convertir la cadena a lista de diccionarios
def parse_json_column(x):
    try:
        return ast.literal_eval(x)
    except Exception:
        return []

# Procesar la columna 'crew'
df['crew'] = df['crew'].apply(parse_json_column)
df_crew_exploded = df.explode('crew').reset_index(drop=True)
df_crew_exploded = pd.concat(
    [df_crew_exploded.drop(columns=['crew']),
     df_crew_exploded['crew'].apply(pd.Series)],
    axis=1
)

# Mostrar los primeros 5 resultados
print(df_crew_exploded.head())

                                                cast   id  \
0  [{'cast_id': 14, 'character': 'Woody (voice)',...  862
1  [{'cast_id': 14, 'character': 'Woody (voice)',...  862
2  [{'cast_id': 14, 'character': 'Woody (voice)',...  862
3  [{'cast_id': 14, 'character': 'Woody (voice)',...  862
4  [{'cast_id': 14, 'character': 'Woody (voice)',...  862

                  credit_id department  gender       id         job  \
0  52fe4284c3a36847f8024f49  Directing     2.0   7879.0    Director
1  52fe4284c3a36847f8024f4f    Writing     2.0  12891.0  Screenplay
2  52fe4284c3a36847f8024f55    Writing     2.0      7.0  Screenplay
3  52fe4284c3a36847f8024f5b    Writing     2.0  12892.0  Screenplay
4  52fe4284c3a36847f8024f61    Writing     0.0  12893.0  Screenplay

             name                      profile_path   0
0   John Lasseter  /7EdqiNbr4FRjIhKHyPPdFfEEEFG.jpg NaN
1     Joss Whedon  /dTiVsuaTVTeGmvkhcyJvKp2A5kr.jpg NaN
2  Andrew Stanton  /pvQWsu0qc8JFQhMVJkTHuexUAa1.jpg NaN
3      Joel Cohen  /dAubAiZcvKFbboWlj7oXOkZnTSu.jpg NaN
4    Alec Sokolow  /v79vlRYi94BZUQnkkyznbGUZLjT.jpg NaN

In [18]:
import pandas as pd
import ast

# 1. Cargar el archivo movies_metadata.csv
df = pd.read_csv('movies_metadata.csv', low_memory=False)

# 2. Convertir la columna 'genres' de string a lista de diccionarios
def parse_json(x):
    try:
        return ast.literal_eval(x)
    except:
        return []

df['genres'] = df['genres'].apply(parse_json)

# 3. Explode: una fila por cada género
df_exploded = df.explode('genres').reset_index(drop=True)

# 4. Expandir el diccionario en columnas y renombrar para evitar conflictos
df_exploded = pd.concat(
    [df_exploded.drop(columns=['genres']),
     df_exploded['genres'].apply(pd.Series).rename(columns={'id': 'genre_id', 'name': 'genre_name'})],
    axis=1
)

# Mostrar los primeros 5 resultados
print(df_exploded.head())

   adult                              belongs_to_collection    budget  \
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
2  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
3  False                                                NaN  65000000
4  False                                                NaN  65000000

                               homepage    id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story   862  tt0114709                en
1  http://toystory.disney.com/toy-story   862  tt0114709                en
2  http://toystory.disney.com/toy-story   862  tt0114709                en
3                                   NaN  8844  tt0113497                en
4                                   NaN  8844  tt0113497                en

  original_title                                           overview  \
0      Toy Story  Led by Woody, Andy's toys live happily in his ...
1      Toy Story  Led by Woody, Andy's toys live happily in his ...
2      Toy Story  Led by Woody, Andy's toys live happily in his ...
3        Jumanji  When siblings Judy and Peter discover an encha...
4        Jumanji  When siblings Judy and Peter discover an encha...

  popularity  ...                                   spoken_languages  \
0  21.946943  ...           [{'iso_639_1': 'en', 'name': 'English'}]
1  21.946943  ...           [{'iso_639_1': 'en', 'name': 'English'}]
2  21.946943  ...           [{'iso_639_1': 'en', 'name': 'English'}]
3  17.015539  ...  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
4  17.015539  ...  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...

     status                                    tagline      title  video  \
0  Released                                        NaN  Toy Story  False
1  Released                                        NaN  Toy Story  False
2  Released                                        NaN  Toy Story  False
3  Released  Roll the dice and unleash the excitement!    Jumanji  False
4  Released  Roll the dice and unleash the excitement!    Jumanji  False

   vote_average vote_count genre_id genre_name   0
0           7.7     5415.0     16.0  Animation NaN
1           7.7     5415.0     35.0     Comedy NaN
2           7.7     5415.0  10751.0     Family NaN
3           6.9     2413.0     12.0  Adventure NaN
4           6.9     2413.0     14.0    Fantasy NaN

[5 rows x 26 columns]

In [21]:
import pandas as pd
import ast

# Leer el CSV
df = pd.read_csv('movies_metadata.csv', low_memory=False)

# Función para parsear la cadena a objeto de Python
def parse_json(x):
    try:
        # Si es nulo o vacío, devolvemos None
        if pd.isna(x) or x == '':
            return None
        return ast.literal_eval(x)
    except Exception:
        return None
    
# Nota: Esta columna normalmente es un diccionario (o None)
df['belongs_to_collection'] = df['belongs_to_collection'].apply(parse_json)
# Filtramos las filas donde la columna no es nula
df_collection = df.dropna(subset=['belongs_to_collection']).copy()
# Expandir el diccionario en columnas
df_collection = pd.concat(
    [df_collection.drop(columns=['belongs_to_collection']),
     df_collection['belongs_to_collection'].apply(pd.Series)],
    axis=1
)
print("Belongs to Collection - primeros 5 resultados:")
print(df_collection.head())

Belongs to Collection - primeros 5 resultados:
    adult    budget                                             genres  \
0   False  30000000  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
2   False         0  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
4   False         0                     [{'id': 35, 'name': 'Comedy'}]
9   False  58000000  [{'id': 12, 'name': 'Adventure'}, {'id': 28, '...
12  False         0  [{'id': 10751, 'name': 'Family'}, {'id': 16, '...

                                        homepage     id    imdb_id  \
0           http://toystory.disney.com/toy-story    862  tt0114709
2                                            NaN  15602  tt0113228
4                                            NaN  11862  tt0113041
9   http://www.mgm.com/view/movie/757/Goldeneye/    710  tt0113189
12                                           NaN  21032  tt0112453

   original_language               original_title  \
0                 en                    Toy Story
2                 en             Grumpier Old Men
4                 en  Father of the Bride Part II
9                 en                    GoldenEye
12                en                        Balto

                                             overview popularity  ...  \
0   Led by Woody, Andy's toys live happily in his ...  21.946943  ...
2   A family wedding reignites the ancient feud be...    11.7129  ...
4   Just when George Banks has recovered from his ...   8.387519  ...
9   James Bond must unmask the mysterious head of ...  14.686036  ...
12  An outcast half-wolf risks his life to prevent...  12.140733  ...

                                              tagline  \
0                                                 NaN
2   Still Yelling. Still Fighting. Still Ready for...
4   Just When His World Is Back To Normal... He's ...
9                No limits. No fears. No substitutes.
12                     Part Dog. Part Wolf. All Hero.

                          title  video vote_average  vote_count        id  \
0                     Toy Story  False          7.7      5415.0   10194.0
2              Grumpier Old Men  False          6.5        92.0  119050.0
4   Father of the Bride Part II  False          5.7       173.0   96871.0
9                     GoldenEye  False          6.6      1194.0     645.0
12                        Balto  False          7.1       423.0  117693.0

                              name                       poster_path  \
0             Toy Story Collection  /7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg
2        Grumpy Old Men Collection  /nLvUdqgPgm3F85NMCii9gVFUcet.jpg
4   Father of the Bride Collection  /nts4iOmNnq7GNicycMJ9pSAn204.jpg
9            James Bond Collection   /HORpg5CSkmeQlAolx3bKMrKgfi.jpg
12                Balto Collection  /w0ZgH6Lgxt2bQYnf1ss74UvYftm.jpg

                       backdrop_path   0
0   /9FBwqcd9IRruEDUrTdcaafOMKUq.jpg NaN
2   /hypTnLot2z8wpFS7qwsQHW1uV8u.jpg NaN
4   /7qwE57OVZmMJChBpLEbJEmzUydk.jpg NaN
9   /6VcVl48kNKvdXOZfJPdarlUGOsk.jpg NaN
12  /9VM5LiJV0bGb1st1KyHA3cVnO2G.jpg NaN

[5 rows x 28 columns]

In [25]:
import pandas as pd
import ast

# Leer el CSV
df = pd.read_csv('movies_metadata.csv', low_memory=False)

# Función para parsear la cadena a objeto de Python
def parse_json(x):
    try:
        # Si es nulo o vacío, devolvemos None
        if pd.isna(x) or x == '':
            return None
        return ast.literal_eval(x)
    except Exception:
        return None
    
df['genres'] = df['genres'].apply(parse_json)
# Explode: se crea una fila por cada género
df_genres = df.explode('genres').reset_index(drop=True)
# Expandir cada diccionario en columnas
df_genres = pd.concat(
    [df_genres.drop(columns=['genres']),
     df_genres['genres'].apply(pd.Series)],
    axis=1
)
print("\nGenres - primeros 5 resultados:")
print(df_genres.head())

Genres - primeros 5 resultados:
   adult                              belongs_to_collection    budget  \
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
2  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
3  False                                                NaN  65000000
4  False                                                NaN  65000000

                               homepage    id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story   862  tt0114709                en
1  http://toystory.disney.com/toy-story   862  tt0114709                en
2  http://toystory.disney.com/toy-story   862  tt0114709                en
3                                   NaN  8844  tt0113497                en
4                                   NaN  8844  tt0113497                en

  original_title                                           overview  \
0      Toy Story  Led by Woody, Andy's toys live happily in his ...
1      Toy Story  Led by Woody, Andy's toys live happily in his ...
2      Toy Story  Led by Woody, Andy's toys live happily in his ...
3        Jumanji  When siblings Judy and Peter discover an encha...
4        Jumanji  When siblings Judy and Peter discover an encha...

  popularity  ...                                   spoken_languages  \
0  21.946943  ...           [{'iso_639_1': 'en', 'name': 'English'}]
1  21.946943  ...           [{'iso_639_1': 'en', 'name': 'English'}]
2  21.946943  ...           [{'iso_639_1': 'en', 'name': 'English'}]
3  17.015539  ...  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...
4  17.015539  ...  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...

     status                                    tagline      title  video  \
0  Released                                        NaN  Toy Story  False
1  Released                                        NaN  Toy Story  False
2  Released                                        NaN  Toy Story  False
3  Released  Roll the dice and unleash the excitement!    Jumanji  False
4  Released  Roll the dice and unleash the excitement!    Jumanji  False

   vote_average vote_count       id       name   0
0           7.7     5415.0     16.0  Animation NaN
1           7.7     5415.0     35.0     Comedy NaN
2           7.7     5415.0  10751.0     Family NaN
3           6.9     2413.0     12.0  Adventure NaN
4           6.9     2413.0     14.0    Fantasy NaN

[5 rows x 26 columns]

In [26]:
import pandas as pd
import ast

# Leer el CSV
df = pd.read_csv('movies_metadata.csv', low_memory=False)

# Función para parsear la cadena a objeto de Python
def parse_json(x):
    try:
        # Si es nulo o vacío, devolvemos None
        if pd.isna(x) or x == '':
            return None
        return ast.literal_eval(x)
    except Exception:
        return None
    
# 3. Procesar "production_companies"
# -----------------------------
df['production_companies'] = df['production_companies'].apply(parse_json)
df_prod_comp = df.explode('production_companies').reset_index(drop=True)
df_prod_comp = pd.concat(
    [df_prod_comp.drop(columns=['production_companies']),
     df_prod_comp['production_companies'].apply(pd.Series)],
    axis=1
)
print("\nProduction Companies - primeros 5 resultados:")
print(df_prod_comp.head())

Production Companies - primeros 5 resultados:
   adult                              belongs_to_collection    budget  \
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1  False                                                NaN  65000000
2  False                                                NaN  65000000
3  False                                                NaN  65000000
4  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0

                                              genres  \
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
3  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
4  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...

                               homepage     id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story    862  tt0114709                en
1                                   NaN   8844  tt0113497                en
2                                   NaN   8844  tt0113497                en
3                                   NaN   8844  tt0113497                en
4                                   NaN  15602  tt0113228                en

     original_title                                           overview  ...  \
0         Toy Story  Led by Woody, Andy's toys live happily in his ...  ...
1           Jumanji  When siblings Judy and Peter discover an encha...  ...
2           Jumanji  When siblings Judy and Peter discover an encha...  ...
3           Jumanji  When siblings Judy and Peter discover an encha...  ...
4  Grumpier Old Men  A family wedding reignites the ancient feud be...  ...

                                    spoken_languages    status  \
0           [{'iso_639_1': 'en', 'name': 'English'}]  Released
1  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
2  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
3  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
4           [{'iso_639_1': 'en', 'name': 'English'}]  Released

                                             tagline             title  video  \
0                                                NaN         Toy Story  False
1          Roll the dice and unleash the excitement!           Jumanji  False
2          Roll the dice and unleash the excitement!           Jumanji  False
3          Roll the dice and unleash the excitement!           Jumanji  False
4  Still Yelling. Still Fighting. Still Ready for...  Grumpier Old Men  False

   vote_average vote_count                       name       id    0
0           7.7     5415.0    Pixar Animation Studios      3.0  NaN
1           6.9     2413.0           TriStar Pictures    559.0  NaN
2           6.9     2413.0               Teitler Film   2550.0  NaN
3           6.9     2413.0  Interscope Communications  10201.0  NaN
4           6.5       92.0               Warner Bros.   6194.0  NaN

[5 rows x 26 columns]

In [23]:
import pandas as pd
import ast

# Leer el CSV
df = pd.read_csv('movies_metadata.csv', low_memory=False)

# Función para parsear la cadena a objeto de Python
def parse_json(x):
    try:
        # Si es nulo o vacío, devolvemos None
        if pd.isna(x) or x == '':
            return None
        return ast.literal_eval(x)
    except Exception:
        return None

# 4. Procesar "production_countries"
# -----------------------------
df['production_countries'] = df['production_countries'].apply(parse_json)
df_prod_countries = df.explode('production_countries').reset_index(drop=True)
df_prod_countries = pd.concat(
    [df_prod_countries.drop(columns=['production_countries']),
     df_prod_countries['production_countries'].apply(pd.Series)],
    axis=1
)
print("\nProduction Countries - primeros 5 resultados:")
print(df_prod_countries.head())

Production Countries - primeros 5 resultados:
   adult                              belongs_to_collection    budget  \
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1  False                                                NaN  65000000
2  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
3  False                                                NaN  16000000
4  False  {'id': 96871, 'name': 'Father of the Bride Col...         0

                                              genres  \
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
3  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...
4                     [{'id': 35, 'name': 'Comedy'}]

                               homepage     id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story    862  tt0114709                en
1                                   NaN   8844  tt0113497                en
2                                   NaN  15602  tt0113228                en
3                                   NaN  31357  tt0114885                en
4                                   NaN  11862  tt0113041                en

                original_title  \
0                    Toy Story
1                      Jumanji
2             Grumpier Old Men
3            Waiting to Exhale
4  Father of the Bride Part II

                                            overview  ...  \
0  Led by Woody, Andy's toys live happily in his ...  ...
1  When siblings Judy and Peter discover an encha...  ...
2  A family wedding reignites the ancient feud be...  ...
3  Cheated on, mistreated and stepped on, the wom...  ...
4  Just when George Banks has recovered from his ...  ...

                                    spoken_languages    status  \
0           [{'iso_639_1': 'en', 'name': 'English'}]  Released
1  [{'iso_639_1': 'en', 'name': 'English'}, {'iso...  Released
2           [{'iso_639_1': 'en', 'name': 'English'}]  Released
3           [{'iso_639_1': 'en', 'name': 'English'}]  Released
4           [{'iso_639_1': 'en', 'name': 'English'}]  Released

                                             tagline  \
0                                                NaN
1          Roll the dice and unleash the excitement!
2  Still Yelling. Still Fighting. Still Ready for...
3  Friends are the people who let you be yourself...
4  Just When His World Is Back To Normal... He's ...

                         title  video  vote_average vote_count iso_3166_1  \
0                    Toy Story  False           7.7     5415.0         US
1                      Jumanji  False           6.9     2413.0         US
2             Grumpier Old Men  False           6.5       92.0         US
3            Waiting to Exhale  False           6.1       34.0         US
4  Father of the Bride Part II  False           5.7      173.0         US

                       name   0
0  United States of America NaN
1  United States of America NaN
2  United States of America NaN
3  United States of America NaN
4  United States of America NaN

[5 rows x 26 columns]

In [24]:
import pandas as pd
import ast

# Leer el CSV
df = pd.read_csv('movies_metadata.csv', low_memory=False)

# Función para parsear la cadena a objeto de Python
def parse_json(x):
    try:
        # Si es nulo o vacío, devolvemos None
        if pd.isna(x) or x == '':
            return None
        return ast.literal_eval(x)
    except Exception:
        return None

# -----------------------------
# 5. Procesar "spoken_languages"
# -----------------------------
df['spoken_languages'] = df['spoken_languages'].apply(parse_json)
df_spoken_languages = df.explode('spoken_languages').reset_index(drop=True)
df_spoken_languages = pd.concat(
    [df_spoken_languages.drop(columns=['spoken_languages']),
     df_spoken_languages['spoken_languages'].apply(pd.Series)],
    axis=1
)
print("\nSpoken Languages - primeros 5 resultados:")
print(df_spoken_languages.head())

Spoken Languages - primeros 5 resultados:
   adult                              belongs_to_collection    budget  \
0  False  {'id': 10194, 'name': 'Toy Story Collection', ...  30000000
1  False                                                NaN  65000000
2  False                                                NaN  65000000
3  False  {'id': 119050, 'name': 'Grumpy Old Men Collect...         0
4  False                                                NaN  16000000

                                              genres  \
0  [{'id': 16, 'name': 'Animation'}, {'id': 35, '...
1  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
2  [{'id': 12, 'name': 'Adventure'}, {'id': 14, '...
3  [{'id': 10749, 'name': 'Romance'}, {'id': 35, ...
4  [{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...

                               homepage     id    imdb_id original_language  \
0  http://toystory.disney.com/toy-story    862  tt0114709                en
1                                   NaN   8844  tt0113497                en
2                                   NaN   8844  tt0113497                en
3                                   NaN  15602  tt0113228                en
4                                   NaN  31357  tt0114885                en

      original_title                                           overview  ...  \
0          Toy Story  Led by Woody, Andy's toys live happily in his ...  ...
1            Jumanji  When siblings Judy and Peter discover an encha...  ...
2            Jumanji  When siblings Judy and Peter discover an encha...  ...
3   Grumpier Old Men  A family wedding reignites the ancient feud be...  ...
4  Waiting to Exhale  Cheated on, mistreated and stepped on, the wom...  ...

  runtime    status                                            tagline  \
0    81.0  Released                                                NaN
1   104.0  Released          Roll the dice and unleash the excitement!
2   104.0  Released          Roll the dice and unleash the excitement!
3   101.0  Released  Still Yelling. Still Fighting. Still Ready for...
4   127.0  Released  Friends are the people who let you be yourself...

               title  video  vote_average  vote_count iso_639_1      name   0
0          Toy Story  False           7.7      5415.0        en   English NaN
1            Jumanji  False           6.9      2413.0        en   English NaN
2            Jumanji  False           6.9      2413.0        fr  Français NaN
3   Grumpier Old Men  False           6.5        92.0        en   English NaN
4  Waiting to Exhale  False           6.1        34.0        en   English NaN

[5 rows x 26 columns]